.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.superFancyBlockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.ailgn-right  {
  float: right;
  padding-left:30px ;
  justify-content: right;
}
.align-center  {
  display: flex;
  justify-content: center;
}
.align-left  {
  float:left;
  clear:left;
  padding-right:30px;
  justify-content: left;
  display: block
}
.active{
  color:red;
}

.editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
}
.inline-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.block-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.option-wrapper {
  border: 1px solid #F1F1F1;
  padding: 5px;
  min-width: 25px;
  height: 20px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
  position: relative;
}
.option-active {
  box-shadow: 1px 1px 0px #BFBDBD inset;
}

.option-wrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD;
}

.image-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  border: 1px solid #F1F1F1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #BFBDBD;
}

.image-modal-header-label-highlighted {
  background: #6EB8D4;
  border-bottom: 2px solid #0a66b7;
}

.image-modal-url-input {
  width: 90%;
  height: 35px;
  margin: 15px 0 12px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  font-size: 15px;
  padding: 0 5px;
}
.image-modal-btn-section {
  margin: 10px auto 0;
}
.image-modal-btn {
  margin: 0 5px;
  width: 75px;
  height: 30px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}

.image-modal-btn:hover {
  box-shadow: 1px 1px 0px #BFBDBD;
}
.image-modal-header-label {
  width: 80px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
}

.image-modal-header-option {

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alignment-option-left {
  justify-content: flex-start;
}
.image-alignment-option {
  height: 15px;
  width: 15px;
  min-width: 15px;
}
.image-alignment {
  position: relative;
}
.image-imagewrapper {
  position: relative;
}
.image-center {
  display: flex;
  justify-content: center;
}
.image-left {
  display: flex;
}
.image-right {
  display: flex;
  justify-content: flex-end;
}
.image-alignment-options-popup-right {
  right: 0;
}
.rdw-block-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.block-dropdown {
  width: 110px;
}
.dropdown-wrapper {
  height: 30px;
  background: white;
  cursor: pointer;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  background: white;
}
.dropdown-optionwrapper {
  z-index: 100;
  position: relative;
  border: 1px solid #F1F1F1;
  width: 98%;
  background: white;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: scroll;
}
.dropdownoption-default {
  min-height: 25px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.dropdown-selectedtext {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 5px;
}
.image-alignment-options-popup {
  position: absolute;
  background: white;
  display: flex;
  padding: 5px 2px;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  width: 105px;
  cursor: pointer;
  z-index: 100;
}
.image-alignment-option {
  height: 15px;
  width: 15px;
  min-width: 15px;
}
.image-alignment-option img{
  width:25px;
  height: 25px
}

.text-left{
  text-align: left
}
.text-right{
  text-align: right
}
.text-center{
  text-align: center
}
.line-through{
  text-decoration:line-through
}